<% if hobbies %>
  <div class="row">
    <% @hobby.each do |hobby| %>
      <div class="hobby">
        <div class="col-xs-12 col-sm-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="media">
                <div class="media-image">
                  <%= link_to image_tag(hobby.thumbnail.url), hobby %>
                </div>
                <div class="media-contents">
                  <h2 class="media-heading"><%= hobby.title %></h2>
                  <p class="media-text">
                    <%= hobby.content %>
                    </br>
                    <%= link_to 'もっと見る', hobby %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>